{% extends 'index.html' %}
{% block content %}

<div class="container" style="margin-top: 20px;">
    <div>
        <div class="card h-100" id="sc">
            <div class="card-body text-center">
            <h3 class="card-title" style="font-weight: bolder;">SYMPTOMS</h3>
            <hr>
                <div class="row row-cols-2">
                    {% for mask in masks %}
                    <div class="col mb-2">
                        <div class="card h-100">
                            <img src="{{ mask.image.url }}" class="card-img-top p-2">
                            <div class="card-body text-center">
                              <h3 class="card-title" style="font-weight: bolder;">{{ mask.name }}</h3>
                              <hr>
                              <p class="card-text" style="font-weight: 500;">{{ mask.desc }}</p>
                              <hr>
                              <p class="card-text" style="font-weight: 500;">Protection Index: {{ mask.protection }}%</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
    </div>
</div>

{% endblock %}