{% extends 'index.html' %}
{% block content %}

<div class="container" style="margin-top: 20px;">
    <h1 class="text-center">REGISTER</h1>
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label" style="font-weight: bold;">USERNAME</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="mb-3">
            <label for="e-mail" class="form-label" style="font-weight: bold;">E-MAIL</label>
            <input type="email" class="form-control" name="e-mail">
        </div>
        
        <div class="mb-3">
            <label for="password" class="form-label" style="font-weight: bold;">PASSWORD</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="mb-3">
            <label for="password_repeat" class="form-label" style="font-weight: bold;">REPEAT PASSWORD</label>
            <input type="password" class="form-control" name="password_repeat">
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
</div>

{% endblock %}